body { 
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
         -o-transform: translateZ(0);
            transform: translateZ(0);
}

canvas {
    height: 100%;
    width: 100%;
}

#donor {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100px;
    opacity: 1;
    padding: 10px;
    position: absolute;
    width: 200px;
    z-index: 10;

    -webkit-transition: opacity .3s linear;
       -moz-transition: opacity .3s linear;
        -ms-transition: opacity .3s linear;
         -o-transition: opacity .3s linear;
            transition: opacity .3s linear;
}

.hidden {
    opacity: 0 !important;
    z-index: 0 !important;
}

#switch {
    color: #000;
    display: inline-block;
    left: 0;
    line-height: 25px;
    padding: 0 10px;
    position: fixed;
    text-decoration: none;
    top: 0;
}